{{define "subject"}}Password Reset successfully!{{ end }}
{{define "plainBody"}}
Hello {{.userName}},

Your password has been successfully reset. If you did not perform this action, 
please contact our support team immediately.
If you have any questions or need further assistance, please feel free to contact 
our support center.

{{ end }}
{{define "htmlBody"}}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #333;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      .header {
        text-align: center;
        padding: 20px;
        background-color: #007bff;
        color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .header img {
        height: 100px;
        vertical-align: middle;
      }
      .header h2 {
        display: inline;
        margin-left: 10px;
        font-size: 1.5rem;
      }
      hr {
        border: 0;
        height: 1px;
        background: #ddd;
        margin: 20px 0;
      }
      .content p {
        margin: 10px 0;
      }
      .footer {
        text-align: center;
        padding: 10px;
        background-color: #333; /* Darker background */
        color: #fff; /* Light text color */
        font-size: 0.9rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .footer a {
        color: #007bff;
        text-decoration: none;
        margin: 0 5px;
      }
      .footer img {
        height: 24px;
        width: 24px;
        margin: 0 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="https://i.ibb.co/WKxXnqw/agglogo.png" alt="Groovy Logo" />
        <h2>Password Reset Confirmation</h2>
      </div>
      <hr />
      <div class="content">
        <p>Hello {{.userName}},</p>
        <p>
          Your password has been successfully reset. If you did not perform this
          action, please contact our support team immediately.
        </p>
        <p>
          If you have any questions or need further assistance, feel free to
          reply to this email or visit our support center.
        </p>
      </div>
      <hr />
      <div class="footer">
        <p>The Groovy Project, 6969 Street</p>
        <p>
          Powered by
          <a href="https://golang.org/" target="_blank">Golang</a>
        </p>
        <a href="https://twitter.com/" target="_blank">
          <img
            src="https://img.icons8.com/?size=100&id=rQfEoE6vlrLk&format=png&color=FFFFFF"
            alt="Twitter"
          />
        </a>
        <a href="https://facebook.com/" target="_blank">
          <img
            src="https://img.icons8.com/?size=100&id=8818&format=png&color=FFFFFF"
            alt="Facebook"
          />
        </a>
      </div>
    </div>
  </body>
</html>
{{ end }}
